{{>partials/header}}
    <h2>Qual o ano que você nasceu?</h2>

    <form method="POST" action="idade-resultado">
        <input type="number" name="anoNascimento" aria-placeholder="Digite o ano que você nasceu"/><br/>
        
        <input type="submit" value="Enviar"/>
    </form>

    {{#mostrarIdade}}

        você tem {{idade}}

    {{/mostrarIdade}}


{{>partials/footer}}
