{{>partials/header}}


    <h1>Página de Login</h1>
    

    <form method="POST" action="login-resultado">
        Email: <input type="email" name="email" placeholder="digite seu e-mail"><br>
        Senha: <input type="password" name="senha" placeholder="digite sua senha"><br>
        <input type="submit" value="Enviar">
    </form>

    

{{>partials/footer}}